<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.dao.RoleMapper">
        <!--根据用户名查询所拥有的角色-->
        <select id="selectRoleByUsername" resultType="com.shiro.bean.Role">
            SELECT r.* FROM `user` u,role r,user_role ur WHERE u.id=ur.u_id AND r.id=ur.r_id AND u.username=#{0};
        </select>
</mapper>