<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.dao.UserMapper">
    <!--根据用户名查询用户信息-->
    <select id="selectUserByUsername" resultType="com.shiro.bean.User">
        SELECT * FROM user WHERE username=#{0};
    </select>
</mapper>